    .container {
        height: 100vh;
        text-align: center;
    }
    
    .color-input {
        padding: 2%;
    }
    
    .color1,
    .color2 {
        border: none;
        padding: 0%;
        margin: 0px;
        border-width: 0px;
        background: nonex;
    }
    
    h1 {
        font: 600 3.5em 'Raleway', sans-serif;
        color: rgba(0, 0, 0, .5);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .5em;
        width: 100%;
    }
    
    h2,
    h3,
    select,
    option {
        font-family: 'Century Gothic';
        text-transform: uppercase;
        border: none;
        background: rgba(0, 0, 0, 0.349);
        color: white;
        border-radius: 1em;
        text-align: center;
    }
    select,option:focus{
        outline:none;
        border: none;
        
    }
    .output{
        display: flex;
        justify-content: center;
    }

    h2,h3{
        letter-spacing: 1em;
        padding: 10px;
        word-spacing: 1.5em;
        border-radius: 1em;
        width: max-content;
        color: white;
        background: rgba(0, 0, 0, 0.2);
    }
    h3{
        font-size: 0.5em;
        letter-spacing: 0.5em;
        word-spacing: normal;
    }

